.table-container {
  background: white;
  border-radius: 5px;
  border: 1px solid #eee;
}

/* 
  `action-less-container` class is used to disable the actions while some important stuff is happening.
  i.e. loading data, editing any cell 
*/
.action-less-container {
  pointer-events: none;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 1px;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
