.table-container {
  background: white;
  border-radius: 5px;
  border: 1px solid #eee;
}

.table-cell {
  padding: 0px 8px;
  flex: 1
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 1px;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
