.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 50px;
  background: #f3f5f8;
}

.home-header {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
}
